#setBack{
    height: 737px;
    background-image: url("../../../assets/images/back.png");
    opacity: 1;
    background-size: 100% 100%;

}

.fontText{
    font-size: 20px;
}

.sso-text {
    font-size: 35px;
}